@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
* {margin:0;outline:0;padding:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border:0;font-family: 'Open Sans', sans-serif; font-size:100%;font-style:inherit;font-weight:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {display:block;}
audio,canvas,video {display:inline-block;max-width:100%;}
html {overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:    100%;}
body,button,input,select,textarea {color:#2b2b2b;font-size:16px;font-weight:300;line-height:1.5; font-size:13px;}
body {background:#fff; }
a {color:#016f9e;text-decoration:none; transition: all 0.4s ease-out 0s; -webkit-all 0.4s ease-out 0s; -moz-all 0.4s ease-out 0s; -ms-all 0.4s ease-out 0s; -o-all 0.4s ease-out 0s;}
a:focus {outline:thin dotted;}
a:hover,a:active {outline:0;}
a:active,a:hover {color:#333333;}
h1,h2,h3,h4,h5,h6 {clear:both;font-weight:700;margin:25px 0 12px;}
h1 {font-size:26px;line-height:1.3846153846;}
h2 {font-size:24px;line-height:1;}
h3 {font-size:22px;line-height:1.0909090909;}
h4 {font-size:20px;line-height:1.2;}
h5 {font-size:18px;line-height:1.3333333333;}
h6 {font-size:16px;line-height:1.5;}
address {font-style:italic;margin-bottom:24px;}
abbr[title] {border-bottom:1px dotted #2b2b2b;cursor:help;}
b,strong {font-weight:700;}
cite,dfn,em,i {font-style:italic;}
mark,ins {background:#fff9c0;text-decoration:none;}
p {margin-bottom:24px;}
code,kbd,tt,var,samp,pre {font-family:monospace, serif;font-size:15px;-webkit-hyphens:none;-moz-hyphens:   none;-ms-hyphens:    none;hyphens:        none;line-height:1.6;}
pre {border:1px solid rgba(0, 0, 0, 0.1);-webkit-box-sizing:border-box;-moz-box-sizing:   border-box;box-sizing:        border-box;margin-bottom:24px;max-width:100%;overflow:auto;padding:12px;white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
blockquote,q {-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:"";content:none;}
blockquote {color:#767676;font-size:19px;font-style:italic;font-weight:300;line-height:1.2631578947;margin-bottom:24px;}
blockquote cite,blockquote small {color:#2b2b2b;font-size:16px;font-weight:300;line-height:1.5;}
blockquote em,blockquote i,blockquote cite {font-style:normal;}
blockquote strong,blockquote b {font-weight:300;}
small {font-size:smaller;}
big {font-size:125%;}
sup,sub {font-size:75%;height:0;line-height:0;position:relative;vertical-align:baseline;}
sup {bottom:1ex;}
sub {top:.5ex;}
dl {margin-bottom:24px;}
dt {font-weight:bold;}
dd {margin-bottom:24px;}
img {-ms-interpolation-mode:bicubic;border:0;max-width:100%;vertical-align:middle;}
figure {margin:0;}
fieldset {}
legend {white-space:normal;}
ul{list-style: none;}
button,input,select,textarea {-webkit-box-sizing:border-box;-moz-box-sizing:   border-box;box-sizing:        border-box;font-size:100%;margin:0;;vertical-align:baseline;  transition: all 0.4s ease-out 0s; -webkit-all 0.4s ease-out 0s; -moz-all 0.4s ease-out 0s; -ms-all 0.4s ease-out 0s; -o-all 0.4s ease-out 0s;}
button,input {line-height:normal;}
input,textarea {background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button;cursor:pointer; transition: all 0.4s ease-out 0s; -webkit-all 0.4s ease-out 0s; -moz-all 0.4s ease-out 0s; -ms-all 0.4s ease-out 0s; -o-all 0.4s ease-out 0s;}
button[disabled],input[disabled] {cursor:default;}
input[type="checkbox"],input[type="radio"] {padding:0;}
input[type="search"] {-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner {border:0;padding:0;}
textarea {overflow:auto;vertical-align:top;}
table,th,td {border:1px solid rgba(0, 0, 0, 0.1);}
table {border-collapse:separate;border-spacing:0;border-width:1px 0 0 1px;margin-bottom:24px;width:100%;}
caption,th,td {font-weight:normal;text-align:left;}
th {border-width:0 1px 1px 0;font-weight:bold;}
td {border-width:0 1px 1px 0;}
del {color:#767676;}
hr {background-color:rgba(0, 0, 0, 0.1);border:0;height:1px;margin-bottom:23px;}

/*
::selection {background:#24890d;color:#fff;text-shadow:none;}
::-moz-selection {background:#24890d;color:#fff;text-shadow:none;}
*/
::-webkit-input-placeholder {color:#999;}
:-moz-placeholder {color:#999;opacity: 1;}
::-moz-placeholder {color:#999;opacity: 1;}
:-ms-input-placeholder {color:#999;}

body { font-weight:300; position:relative; }
.container { max-width:1200px; width:100%; margin:0 auto; padding:0 15px; }
.textCenter { text-align:center; margin:0px auto; }
.clearfix:before, .clearfix:after {display:table;line-height:0;clear:both;content:'';}
.left { float: left;}
.right {float: right;}

.span12 {width:100%;}
.span11 {width:91.45299145299145%;}
.span10 {width:82.90598290598291%;}
.span9 {width:74.35897435897436%;}
.span8 {width:65.81196581196582%;}
.span7 {width:57.26495726495726%;}
.span6 {width:48.717948717948715%;}
.span5 {width:40.17094017094017%;}
.span4 {width:31.623931623931625%;}
.span3 {width:23.076923076923077%;}
.span2 {width:14.52991452991453%;}
.span1 {width:5.982905982905983%;}
[class*="span"] {min-height:1px;float:left; position:relative; padding:0 15px;}

h1, h2, h3 {margin: 0;padding: 0;font-weight: inherit;font-size: inherit;line-height: inherit;}



/**/

input[type="text"], input[type="email"], input[type="password"]{border-radius: 4px; border: 1px solid #dbdbdb; width: 100%; padding: 5px 10px; color: #444; font-size: 13px; }
select{width: 90%; border: 1px solid #dbdbdb; padding:10px 10px; font-size:13px; background:#fff; border-radius:4px;}
input[type="button"], input[type="submit"]{border: 0;}
.login-container{width: 300px; margin:0 auto; position: relative; background: #f6f6f6; padding: 25px;}
.input-container{}
.input-container label{font-size: 13px; color: #58585a; margin-bottom: 5px;}
.input-container input[type="text"], .input-container input[type="email"], .input-container input[type="password"]{width: 100%; border: 1px solid #d2d2d2; height: 40px; margin-bottom: 10px; background: rgba(0,0,0,0); padding: 0 5px;}
.input-container input[type="text"]:focus, .input-container input[type="email"]:focus{border: 1px solid #bfd630;}
.input-container input[type="submit"]{color: #fff; background: #bfd630; border: 1px solid #93a523; float: right; padding: 8px 20px; font-size: 14px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; }
.input-container input[type="submit"]:hover{background:#00a1e5; border: 1px solid #0b83b6;}
.input-container input[type="button"]{color: #fff; background: #bfd630; border: 1px solid #93a523; float: right; padding: 8px 20px; font-size: 14px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; }
.input-container input[type="button"]:hover{background:#00a1e5; border: 1px solid #0b83b6;}
.input-container span{font-size: 13px; padding: 0;}
.input-container a {color: #58585a; font-size: 13px; display: block; margin: 10px 0 0;}
.input-container a:hover {text-decoration: underline;}
.logo-container{width: 430px; margin: 100px auto 50px;}
footer{padding-bottom: 20px;}
.fix-container{max-width: 1000px; margin: 0 auto; width: 100%;}
.bttm-logo{width: 150px; float: left;}
.bttm-links{float: right; font-size: 13px; color: #58585a; margin: 15px 0 0;}
.bttm-links a{font-size: 13px; color: #58585a; }
.bttm-links a:hover{text-decoration: underline;}
.profile-option{float: right; padding: 10px 0; margin: 10px 0 0;}
.my-profile{float: left;}
.my-profile span{font-size: 16px; font-weight: bold; color: #3b3a3a; float: left; margin: 5px 15px 0 0;}
.image-cont{width: 35px; height: 35px; border-radius: 50%; float: left; overflow: hidden;}
.image-cont img{width: 100%; height: 100%;}
.dashboard-logo{margin: 15px 0; width: 220px; display: inline-block;}
header{text-align: center; border-bottom: 1px solid #f4f5f7;}
.settings{float: left; margin: 5px 0 0 15px; position: relative;}
.subheader{background: #f4f5f7; padding: 10px;}
.subheader h4{font-size: 20px; font-weight: bold; color: #3b3a3a; margin: 0 25px 0 0; float: left;}
.super-admin-cont{width: 700px; margin: 30px auto;}
.super-admin-cont .admin-profile{background: #f4f5f7; text-align: center; padding: 25px; width: 230px; margin: auto; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px;}
.super-admin-cont .admin-profile .profile-image-cont{width: 125px; height: 125px; border-radius: 50%; overflow: hidden; margin:auto;}
.super-admin-cont .admin-profile .profile-image-cont img{width: 100%; height: 100%; }
.super-admin-cont .admin-profile h4{font-size: 24px; color: #3b3a3a; text-align: center; text-align: center;
                                    word-wrap: break-word;}
.super-admin-cont .admin-profile h5{background: #00a1e5; border-radius: 4px; color: #fff; font-size: 14px; font-weight: bold; display:inline-block; padding: 10px; margin: 0;}
.super-admin-cont .categories{margin: 20px 0 0; text-align:center;}
.super-admin-cont .categories ul{display: block;}
.super-admin-cont .categories ul li{ width: 147px; background: #f4f5f7; margin:10px 12px 20px; text-align: center; position: relative; display:inline-block;}
.super-admin-cont .categories ul li:hover{box-shadow: 0 0 4px #999;}
.super-admin-cont .categories ul li span{display: inline-block; margin: 15px 0 0;}
.super-admin-cont .categories ul li strong{display: block; margin: 15px 0; font-size: 13px; color: #3b3a3a;  font-weight: normal;}
.super-admin-cont .categories ul li a{display: block;}
.super-admin-cont .categories ul li .notification{width: 40px; height: 40px; border-radius: 50%; position: absolute; color: #fff; font-size: 14px; font-weight: bold; background: #00a1e5; border: 2px solid #027cb0; top: -20px; right: -20px; text-align: center; padding: 6px 0;}
.add-new{background: #bfd630; border-radius: 4px; background: #bfd630; color: #fff; padding: 5px 15px; font-size: 12px;}
.add-new:hover{color: #fff; background:#00a1e5; }
.openArticlesTab{text-align: center;}
.openArticlesTab .add-new{margin-right: 15px;}
.language-filter{margin: 10px 0;}
.choose-lang{ width: 280px; font-size: 14px; background:rgba(0,0,0,0); border: 0; height: 35px; padding: 0 66px 0 0; border-radius: 4px; position: relative; z-index: 1; appearance:none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none;}
.select-container{display: inline-block; background: #f4f5f7; position: relative; width: 250px; overflow: hidden;}
.select-arrow{float: right; width: 40px; height: 100%; border-width: 1px 1px 1px 0; background: #e6e7e9; position: absolute; right: 0; text-align: center; border-radius: 0px 4px 4px 0;}
.arrow-down {width: 0;height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 8px solid #868688; margin: 15px 0 0; display: inline-block;}



.category-list{margin: 0px 0;}
.table-container{margin: 10px 0; }
.table-container table{width: 100%; border: 0;}
.table-container table td, th{border: 0; padding: 10px;}
.table-container table th{font-size: 16px; color: #6f7b8a; background: #f4f5f7; font-weight: 300; border: 0; text-align: center;}
.table-container table td{font-size: 13px; word-wrap: break-word; color: #1a1a1a; text-align: center; vertical-align: middle;}
.table-container table td:first-child, .table-container table th:first-child{text-align: left;}
.table-container table tr:nth-child(odd) {background: #ecf0f2;}
.table-container table tr:nth-child(even) {background: #fff;}

.pagination{margin: 30px 0;}
.pagination .pagination_bottoml{display: block; float: right; background: #f4f5f7; border: 1px solid #c6c6c6; border-radius: 4px;}
.pagination .pagination_bottoml a{color: #656565; display: block; padding: 5px 15px; font-size: 12px; color: #656565; border-right: 1px solid #c6c6c6;  text-align: center; float: left;}
.pagination pagination_bottoml a:last-child{border: 0;}
.pagination a:hover, .pagination .pagination_bottom strong{ background:#ebebeb;}

.layer-bg{position: fixed; width: 100%; height: 100%; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0,0,0,0.7); display: none; z-index: 1;}
.popup-container{width: 450px; margin: 0 auto; position: relative; z-index: 99; background: #fff; padding: 0 0 30px 0; border-radius: 6px; top: 50%; margin-top: -135px;}
.popup-containerMagzine_bord{position: absolute; z-index: 99; top: 25px; left: 50%; margin:0 0 0 -225px !important; display: none;}
.popup-containerMagzine_bordEdit{position: absolute; z-index: 99; top: 25px; left: 50%; margin:0 0 0 -225px !important; display: none;}
.popup-container h4{font-size: 22px; color: #6f7b8a; padding: 15px; background: #fafafa; font-weight: normal; text-align: center; margin:0 0 25px 0; border-radius: 4px 4px 0 0; }
.close-bttn{background: url(../images/sprite-image.png) no-repeat 0 -48px; width: 38px; height: 38px; position: absolute; top: 8px; right: 8px; cursor: pointer;}
.popup-inner{margin: 10px 0 0; text-align: center; padding:0 20px;}
.popup-inner input[type="text"]{width: 250px; border: 1px solid #dbdbdb; font-size: 13px; color: #737373; height: 40px; border-radius: 4px; display: table;  margin:auto; padding: 0 5px;}
.popup-inner input[type="submit"]{padding: 10px 30px; color: #fff; background: #bfd630; border-radius: 4px; border: 0; margin: 15px 0 0;}
.popup-inner input[type="submit"]:hover{ background:#00a1e5;}
.upper_bar{text-align: right;}
.layer-bg-popupOverlay{background: none; position: fixed; width: 100%; height: 100%; top: 0; right: 0; left: 0; bottom: 0;}



/*18-12-2014*/

.addvertisement-container{}
.addvertisement-container h3{background: #f4f5f7; padding: 10px; color: #000; color: #333; font-size: 16px; display: block; margin: 20px 0;}

.advertisement-type{margin: 20px 0;}
.checkbox-container{float: left; margin: 0 20px 0 0; font-size: 14px;}

.checkbox-container input[type="checkbox"]{margin-right: 8px;}

.advertisement-type .drop-banner{border: 1px solid #dbdbdb; margin: 10px 0; border-radius: 6px; height: 50px; text-align: center; vertical-align: middle; font-size: 12px; font-style: italic; color: #777; position: relative; line-height: 50px;}

.advertisement-type .drop-banner .file-container{position: absolute; overflow:hidden; bottom: 0; right: 0; width: 50px; height: 50px; border-radius: 0 4px 4px 0; background: url(../images/sprite-image.png) no-repeat 8px -84px #cdcdcd; }


.advertisement-type .drop-banner .file-container input[type="file"]{padding-left: 50px; height: 50px; display: block;}

.advertisement-type label{display: block; font-size:14px; color: #777; margin-bottom: 5px; }

.advertisement-type .banner-note{float: left; margin-left: 50px;}
.advertisement-type .banner-note span{display: block; margin: 15px 0; font-size: 14px; color: #777; font-style: italic;}

.advertisement-type .left-cols{float: left; margin-right: 100px;}
.advertisement-type .left-cols input[type="text"]{width: 380px; height: 40px; color: #777; padding: 10px; font-size: 12px; font-style: italic; margin-bottom: 20px;}


.multiselect-box{background: #f6f6f6; padding: 10px; width: 350px; overflow-y: auto; height: 140px;}

.multiselect-box .cbox{margin: 5px 0; font-size: 13px; color: #000;}
.multiselect-box .cbox input[type="checkbox"]{margin-right: 10px;}


.review{background: #69a205; float: right; color: #fff; padding: 10px 35px; font-size: 14px; border-radius: 4px;  margin: 30px 0 0;}
.review:hover{background: #00a1e5; color: #fff;}
.advertisement-type input[type="submit"]{float: right; background: #00a1e5; font-size: 14px; color: #fff; padding: 13px 45px; margin: 30px 20px; border: 0; border-radius: 4px;}
.advertisement-type input[type="submit"]:hover{background: #69a205;}
.layout-type{text-align: center;}
.layout-type{display: block; list-style: none;}
.layout-type ul li{display: inline-block; margin: 0 15px; width: 21%;}
.layout-type ul li span{display: block; margin: 10px 0;}
.layout-type ul li img{opacity: 0.3;}
.layout-type ul li.active img{opacity: 1; border: 1px solid #999;}


nav{background: #fff; border-bottom: 8px solid #f4f5f7; padding: 5px;}
nav ul{display: block;}
nav ul li{float: left; border-left: 1px solid #f4f5f7;}
nav ul li a{font-size: 14px; color: #000; padding: 10px 24px;}
nav ul li a span{border-radius: 4px; padding: 4px 20px; color: #000; margin: 0 0 0 10px;}
nav ul li a span.blue{background: #00a1e5;}
nav ul li a span.green{background: #bfd630;}
nav ul li a span.yellow{background: #fdd01c;}
nav ul li a span.red{background: #f35958}
nav ul li a span.dark-green{background: #69a205}
nav ul li a:hover, nav ul li.active a{border-bottom: 8px solid #69a205;}

.search-filter{margin: 15px 0;}

.search-bar{float: left; margin: 0 20px 0 0;}
.search-bar .search-box{background: #f4f5f7; min-height:40px; padding:0; border-radius: 4px; margin: 10px 0; }
.search-bar .search-box input[type="text"]{float:left;background: none; border: 0; font-size: 13px; height: 40px; width: 200px;}
.search-bar .search-box input[type="submit"]{background: url(../images/sprite-image.png) no-repeat -3px -141px; width: 28px; float: right; margin: 10px 5px 0 0 ; text-indent: -999px; height: 20px;}
.filter-bar{margin: 20px 0 0;}
.right-align-box{float: right; margin: 0 0 0 30px;}
.banner-cont{width: 100px; height: 100px; position:relative;}
.upper-image{position:absolute; top:0; left:0; z-index:1;}



.rejected-btn{background: #ff6000; color: #000; display: inline-block; padding: 8px 10px; font-size: 12px; border-radius: 4px;}

.pending-btn{background: #fdd01c; color: #000; display: inline-block; padding: 8px 10px; font-size: 12px; border-radius: 4px;}
.view-btn{background: #00a1e5; color: #000; display: inline-block; padding: 8px 10px; font-size: 12px; border-radius: 4px;}
.aprove-btn{background: #bfd630; color: #000; display:block; padding: 8px 15px; font-size: 12px; border-radius: 4px;}

.publish-btn{background: #69a205; color: #000; display: block; padding: 8px 15px; font-size: 12px; border-radius: 4px;}


.super-admin-btn{background: #00a1e5; color: #000; display: inline-block; padding: 8px 10px; font-size: 12px; border-radius: 4px;}

.custom-btn{background: #bfd630; color: #000; display: inline-block; padding: 8px 10px; font-size: 12px; border-radius: 4px;}


.edit-btn{width: 30px; height: 30px; display: inline-block; background: url(../images/sprite-image.png) no-repeat -28px 5px #d2d4d5; border-radius: 4px; text-indent: -999px; overflow: hidden; margin: 5px 2px;}
.delete-bttn{width: 30px; height: 30px; display: inline-block; background: url(../images/sprite-image.png) no-repeat 6px 5px #d2d4d5; border-radius: 4px; text-indent: -999px; overflow: hidden; margin: 5px 2px;}
.view-bttn{width: 30px; height: 30px; display: inline-block; background: url(../images/sprite-image.png) no-repeat -59px 5px #d2d4d5; border-radius: 4px; text-indent: -999px; overflow: hidden; margin: 5px 2px;}
.block-icon{width: 30px; height: 30px; display: inline-block; background: url(../images/sprite-image.png) no-repeat -91px 5px #d2d4d5; border-radius: 4px; text-indent: -999px; overflow: hidden; margin: 5px 2px;}

.unblock-icon{width: 30px; height: 30px; display: inline-block; background: url(../images/sprite-image.png) no-repeat -121px 5px #d2d4d5; border-radius: 4px; text-indent: -999px; overflow: hidden; margin: 5px 2px;}
.edit-icon{width: 30px; height: 30px; display: inline-block; background: url(../images/sprite-image.png) no-repeat -27px 5px #d2d4d5; border-radius: 4px; text-indent: -999px; overflow: hidden; margin: 5px 2px;}
.active-btn, .blocked-btn{padding: 5px; background: #bfd630; color: #000; font-size: 12px; padding: 5px 15px; display: inline-block; border-radius: 3px;}
.blocked-btn{ background: #f35958;}
.rounded-image{width: 80px; height: 80px; border-radius: 50%; overflow: hidden; display: inline-block;}
.rounded-image img{width: 100%; height: 100%;}
.rounded-image-big{width: 100px; height: 100px; border-radius: 50%; overflow: hidden; display: inline-block; border:5px solid #d0d0d0;margin: 10px 0}
.rounded-image-big img{width: 100%; height: 100%;}
.displayData ul{display: block;}
.displayData ul li{border-bottom:1px solid #dbdbdb; padding: 10px; width: 50%; font-size: 14px; color: #00709f;}
.displayData ul li label{font-size: 15px; color: #58585a; width: 80px; float: left;}
.displayData ul li:nth-child(odd){float: right; padding-left: 28px;}
.displayData ul li:nth-child(even){float: left; }
.displayData ul li:first-child{width: 100%; text-align: center; padding: 0; border: 0;}
.displayData ul li.full-width{width: 100%; padding: 10px;}
.info-popup{width: 680px;}
.add-new-customer{margin: 20px 0;}
.image-cont-box{position:relative;width: 180px; height: 180px; border-radius: 50%; border: 5px solid #d0d0d0; background: url(../images/sprite-image.png) 7px -360px no-repeat #eee; margin: 0 auto; overflow: hidden;}
.image-cont-box input[type="file"]{width: 120px; height: 120px; padding: 160px;}
.add-new-customer .input-field-cont{width: 30%; float: left; margin: 0 16px; min-height: 95px;}
.add-new-customer .input-field-cont input[type="text"], .add-new-customer .input-field-cont input[type="email"], .add-new-customer .input-field-cont input[type="password"]{height: 40px; font-size: 12px; font-style: italic; color: #737373; border: 1px solid #dbdbdb; border-radius: 4px; background: none;}
.add-new-customer .input-field-cont select{height: 40px; font-size: 12px; font-style: italic; color: #737373;}
.long-strip{width: 100%;}
.long-strip span{display: block; text-align: center; font-size: 18px; font-weight: bold; color: #00a1e5;}
.input-field-cont label{display: block; margin: 0 0 5px; text-align: left; color: #3e3e3e; font-size: 15px;}
.login-credential{margin: 30px 0;}
.login-credential h2{font-size: 20px; background: #f4f5f7; padding: 10px; color: #333; margin-bottom: 20px;}
.login-credential .input-container input[type="submit"]{float: left; padding: 10px 25px; font-size: 15px; margin: 20px;}
.login-credential .input-container input[type="button"]{float: left; padding: 10px 25px; font-size: 15px; margin: 20px;}

/*23-12-2014*/


.magzine-container{margin: 10px 0; text-align: center;}
.magzine-container h2{font-size: 24px ;color: #333; font-weight: bold; background: #d8d8d8; padding: 10px; border: 1px solid #c0c0c0; margin: 10px 0; text-align: left;}
.magzine-container ul{display: block;}


.magzine-container ul li{float:left; width: 192px; margin:20px 10px 20px 0; position: relative;}
.magzine-container ul li:nth-child(5n){float:right; margin:20px 0;}
.magzine-container ul li .magzine{border: 10px solid #eaeaea; height: 220px; overflow: hidden; cursor: pointer;}
.magzine-container ul li{float:left; width: 184px; margin:20px 20px 20px 0; position: relative;}
.magzine-container ul li:nth-child(5n){float:right; margin:20px 0;}
.magzine-container ul li .magzine{border: 10px solid #eaeaea; height: 220px; overflow: hidden;}

.magzine-container ul li h4{color: #393939; font-size: 14px; margin: 5px 0; font-weight: bold; width: 95%;text-overflow: ellipsis;white-space: nowrap; overflow:hidden;}
.magzine-container ul li h5{ color: #000; font-size: 12px; display: block; font-weight: normal; margin: 0;}
.magzine-container ul li span{position: absolute; top: -10px; right: -10px; width: 40px; height: 40px; border-radius: 50%; background: #00a1e5; border: 2px solid #027cb0; color: #fff; font-size: 15px; font-weight: bold; line-height: 35px;}
.add-placeholder{background: #d8d8d8; position: relative;}
.add-placeholder em{background: url(../images/sprite-image.png) no-repeat -2px -202px; width: 65px; height: 65px; margin: 30px auto 0; display: block;}
.add-placeholder strong{text-align: center; display: block; margin: 10px 0; color: #888; font-size: 16px; font-weight: normal;}
.magzine-container .add-new{background: none; padding: 0;}
.publish-magzine{background: #bfd630; padding: 10px 40px; color: #333; font-size: 14px; border-radius: 4px; float: left; margin: 10px 0;}
.create-magazine-popup{max-width: 600px; width: 100%; margin-top: -275px;}
.create-magazine{ padding:0 40px;}
.create-magazine .input-box{ min-height: 80px;}
.create-magazine .input-box input[type="text"]{ height: 40px; width: 90%; font-size: 12px; font-style: italic; }
.create-magazine .input-box label{display: block; font-size: 15px; color: #333; margin-bottom: 5px;}
.create-magazine .input-box input[type="submit"]{background: #bfd630; color: #fff; font-size: 15px; padding: 12px 40px; border-radius: 6px; }
.create-magazine .input-box input[type="submit"]:hover{background: #00a1e5;}
.calender{background: url(../images/sprite-image.png) no-repeat 188px -296px;}
.file-type-container{width: 90%; overflow: hidden; height: 40px; border: 1px solid #dbdbdb; border-radius: 4px; position: relative;}
.file-type-container .arrow{background: url(../images/sprite-image.png) -57px -44px #eee; height: 100%; width: 40px; border-radius: 0 4px 4px 0 0; position: absolute; right: 0; top: 0;}
.file-type-container input[type="file"]{padding: 50px; position:relative; z-index:1;}
.left-colm{float: left; width: 48%;}
.right-colm{float: right; width: 48%;}
.add-article-form .input-box label.full-width-label{float: none; margin-bottom: 10px;}

/*24-12-2014*/

.add-article{margin: 30px 0;}
.add-article-form .input-box{margin-bottom: 15px;}
.add-article-form .input-box label{float: left; width: 20%; font-size: 13px; color: #333; font-weight: 600; margin-bottom:5px;}
.add-article-form .input-box input[type="text"], input[type="email"], input[type="password"]{background: #f6f6f6; border: 0; width: 65%; height: 40px; border-radius: 0;}
.add-article-form .input-box .add-photo{background: #f3f3f3; width: 230px; height: 150px; border: 1px solid #ccc; border-radius: 4px; overflow: hidden; text-align: center; position:relative;}
.add-article-form .input-box .add-photo em{background:url(../images/sprite-image.png) 2px -210px rgba(0,0,0,0.8); z-index:99;  width: 50px; height: 50px; display: inline-block; position: absolute; overflow:hidden; bottom:0; right:0;}
.add-article-form .input-box .add-photo em input[type="file"]{padding: 70px; position:relative; z-index: 1;}
.add-article-form .input-box .add-photo img{width:100%;}
.vew-code{padding:5px 8px; font-size:12px; float:right; color:#fff; background:#00a1e5; border-radius:4px; font-weight:bold;}
.commentNotification{background:url(../images/sprite-image.png) -117px -48px; display:inline-block; width:30px; height:30px; text-indent:-9999px; position:relative; }
.commentNotification em{position:absolute; width:30px; height:20px; border:1px solid #00a1e5; font-size:12px; text-align:center; top:-13px; right:-14px; color:#00a1e5 display:block; background:#fff; text-indent:0; font-style:normal; line-height:20px;}
.linkbreak{max-width: 150px;}
/*Color Pallete*/
.evo-pop {
    z-index: 10000;
    padding: 3px 3px 0;
}
.evo-pop-ie {
    z-index: 10000;
    width: 212px;
    padding: 3px;
}
.evo-palette td {
    font-size: 1px;
    border: solid 1px #c0c0c0;
    padding: 10px;
    cursor: pointer;
}
.evo-palette tr.top > td {
    border-bottom: 0;
}
.evo-palette tr.in > td {
    border-top: 0;
    border-bottom: 0;
}
.evo-palette tr.bottom > td {
    border-top: 0;
}
.evo-palette div.sep {
    height: 3px;
}
.evo-palette,
.evo-palette-ie {
    border-collapse: separate;
    border-spacing: 4px 0px;
    *border-collapse: expression('separate', cellSpacing='2px');
}
.evo-palette th,
.evo-palette-ie th {
    border: 0;
    padding: 5px 3px;
    text-align: left;
    font-weight: normal;
    background: transparent !important;
}
.evo-palette-ie td {
    font-size: 1px;
    border: solid 1px #c0c0c0;
    padding: 7px;
    cursor: pointer;
}
.evo-palette2,
.evo-palette2-ie {
    margin: auto;
    border-collapse: collapse;
}
.evo-palette2 td,
.evo-palette2-ie td {
    font-size: 1px;
    cursor: pointer;
}
.evo-palette2 td {
    padding: 6px 7px;
}
.evo-palette2-ie td {
    padding: 5px;
}
.evo-palcenter {
    padding: 5px;
    text-align: center;
}
.evo-colorind,
.evo-colorind-ie,
.evo-colorind-ff {
    border: solid 1px #c3c3c3;
    width: 18px;
    height: 18px;
    float: right;
}
.evo-colorind-ie {
    position: relative;
    top: -23px;
}
.evo-colorbox-ie {
    font-size: 8px;
    padding: 3px 9px !important;
}
/*
.evo-colortxt-ie {
        position:relative;
        top:-6px;
}*/
.evo-pop:after,
.evo-pop-ie:after,
.evo-colorind:after,
.evo-colorind-ie:after,
.evo-colorind-ff:after,
.evo-color span:after,
.evo-cHist:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.evo-color {  width: 94px;  padding: 1px 3px 0 4px;}
.evo-color div {  border: solid 1px #808080;  border-right: solid 1px #c0c0c0;  border-bottom: solid 1px #c0c0c0;  padding: 3px;  margin-bottom: 5px;  width: 10px;  height: 10px;  float: left;}
.evo-color span {  font-size: 15px;  margin: 1px 0 4px 3px;  float: left;}
.evo-sep {  height: 10px;  font-size: 0;}
.evo-more {  padding: 4px 5px 4px;  font-size: smaller;   display: none;}
.evo-cHist {  padding: 3px;}
.evo-cHist div {  cursor: pointer;  border: solid 1px #c0c0c0;  padding: 3px;  margin: 5px;  width: 10px;  height: 10px;  float: left;}
.evo-transparent {  background-image: repeating-linear-gradient(135deg, #000000, #000000 1px, #ffffff 1px, #ffffff 3px);}
.evo-tr-box {  cursor: pointer;  border: solid 1px #c0c0c0;  padding: 3px;  width: 7px;  height: 7px;  float: right;  position: relative;  right: -3px;  top: 2px;}
a.evo-hist { margin-left: 6px;}
.evo-pointer {  cursor: pointer;}

#cpDiv .ui-widget-content{border: 0;}

/*color Pallete*/



/*29-12-2014*/

.login-detail-box{position: absolute; width: 170px; background: #fff; border: 1px solid #ddd; top: 42px; z-index: 2; display: none; right: -25px; min-height: 100px;}
.login-detail-box ul{display: block; }
.login-detail-box ul li{}
.login-detail-box ul li a{padding: 10px; font-weight:bold; display: block; background: #fbfbfb; border-bottom:1px solid #ededed; font-size: 13px; color: #777; text-align: left;}
.login-detail-box ul li a:hover{background: #f1f1f1;}
.login-detail-box .arrow-up{position: absolute; width: 0; height: 0;  border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #ccc; top: -10px; right: 20px;}
.login-detail-box .arrow-up:before{content: ''; position: absolute; width: 0; height: 0;  border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #fff; top: 1px; right: -10px;}
.login-detail-box input[type="button"]{background: #00a1e5; padding: 10px 20px; color: #fff; border-radius: 6px; margin: 30px 15px 0 0; float: right;}
.login-detail-box input[type="button"]:hover{background: #bfd630;}
.addvertisement-wrapper{margin: 10px 0;}
.advertisment-image{float: left; margin-right: 20px; width: 200px; height:240px; overflow:hidden;}
.addvertisment-details{float: left; width:75%;}
.addvertisment-details .fields-cont{padding: 10px; font-size: 14px; color: #555;}
.addvertisment-details .fields-cont label{float: left; width: 20%; font-size: 14px; color: #333; font-weight: bold; }
.addvertisment-details .fields-cont span{float: right; width: 75%;}
.add-article-form .input-box label.error{width:auto; float:none; display:block; color:#f00; font-weight:normal; margin:5px 0; font-size:12px; margin-left:20%;}
.add-article-form h3{font-weight:bold;}

/*8-01-2014*/


.table-container table td.padding-free{padding: 0;}
.action-grid{width: 12%;}
.table-container .adjust-table tr:nth-child(odd){background: #fff;}
.table-container .adjust-table tr:nth-child(4n-1){background: #ecf0f2;}
.show_form{background: #e5e5e5; padding:20px;}
.left-grid{width: 65%; float: left;}
.right-grid{width: 35%; float: right;}
.show_form .add-article-form .input-box label{margin: 7px 0;}
.show_form .add-article-form .input-box select{width: 65%; height: 40px; background: #f6f6f6;}
.show_form .multiselect-box{width: 78%;}
.show_form textarea{background: #f6f6f6; width: 65%; border: 0;}
.date-field{float: left; width: 46%;}
.show_form .checkbox-container{font-size: 12px; }
.input-container button[type="cancel"]{float: right; border: 0; color: #333; background: #d4d4d4; padding: 10px 15px; border-radius: 4px; margin:10px 20px 0 0;}
.input-container .publish-magazine{background: #bfd630; color: #333; border-radius: 4px; padding: 10px 15px; float: right;}
.input-container .publish-magazine:hover{text-decoration: none; background: #333; color: #fff;  }
.date-field span{float: left; font-size: 13px; font-weight: bold; color: #999; width: 43%; margin: 5px 0 0;}
.date-field small { background: url(../images/sprite-image.png) no-repeat 88px -299px #f6f6f6; height: 35px; padding: 5px; width: 120px; display: block; float: left; line-height: 25px; font-size: 12px; font-weight: bold; color: #999;}
.advertisement-type h3{font-size: 13px; margin: 10px 0; font-weight: bold; color: #555;}
.add-article-form .input-box input[type="text"].datefield{background: url(../images/sprite-image.png) no-repeat 88px -299px #f6f6f6; height: 35px; padding: 5px; width: 120px; display: block; float: left; line-height: 25px; font-size: 12px; font-weight: bold; color: #999;}
.show_form .input-container input[type="submit"]{margin-left: 20px;}

/*16-01-2014*/

.input-field-cont textarea{border: 1px solid #dbdbdb; border-radius: 4px; margin-bottom: 15px;}
.input-wrap{float: left; width: 100px;}
.right-cols-nw{float: right;}
.right-cols-nw .multiselect-box{width: 315px;}
.input-field-cont label.error, .create-magazine .input-box label.error{color: #f00; font-size: 12px; margin:0;}
.restore-bttn{width: 30px; height: 30px; display: inline-block; background: url(../images/sprite-image.png) no-repeat -156px 5px #d2d4d5; border-radius: 4px; text-indent: -999px; overflow: hidden; margin: 5px 2px;}
.errors-msz{color: #f00; background: #ffecec; border: 1px solid #fd7269; padding: 5px; border-radius: 6px;}
.success-msz{color: #000; background: #e9ffd9; border: 1px solid #91b674; padding: 5px; border-radius: 6px;}
.publish-add{padding: 0 10px;}
.publish-add .input-box{margin-bottom: 10px;}
.publish-add .input-box label{float: left; width: 40%; text-align: left; font-size: 13px;}
.show_form .multiselect-box.fullbox{width: 100%;}
.delete-bttn.align{margin:13px 0 0; float:right;}
.publish-status{padding:6px 26px;}
.margin-top{margin-top:20px;}
.map-colm{float:left; width:75%;}
.popup-inner .input-box{margin-bottom:10px; text-align:left;}
.popup-inner .input-box label{float:left; width:35%; margin: 8px 0 0;}
.review-addvertisement{background: #69a205;float: right;color: #fff;padding: 8px 10px;font-size: 14px;border-radius: 4px;}
.input-container button[type="cancel"].cancel-margin{margin:0;}
.addvertisement-sizes{float: left; width: 45%;}
.shift-delete-bttn{width: 30px; height: 30px; display: inline-block; background: url(../images/sprite-image.png) no-repeat -212px 5px #d2d4d5; border-radius: 4px; text-indent: -999px; overflow: hidden; margin: 5px 2px;}
.action-colm{width:15%;}
.upper-advertisement-detail{margin-bottom:10px;}
.googlemapimage{float: left; width: 75%; overflow: hidden; height: 500px; margin-top: 10px;}
.map-color-blue{background:blue; width:20px; height:20px; float:left; margin-right:10px;}
.map-color-red{background:red; width:20px; height:20px; float:left; margin-right:10px;}
.map-color-yellow{background:yellow; width:20px; height:20px; float:left; margin-right:10px;}
.map-details{float:right; width:23%; margin-top:50px;}
.map-details .row-strip{padding:5px;}
.map-details span{display:table; font-size:14px; color:#333;}
.fields-cont .aprove-btn{float:left; margin:10px; color:#fff;}
.fields-cont .aprove-btn:hover{background:#00a1e5;}
.input-container.align-right{float:right; margin-top:10px;}
.rejected-btn.btn-block{display:block;}
.popup-inner label.error{color: red;display: block;font-size: 12px;font-weight: normal;margin-top: 5px;padding-right: 10px;text-align: right;width: 100%;}
.popup-inner h5{font-size:14px; text-align:center;  margin: 0 0 10px;}
.popup-inner .input-box textarea{width:100%;}
.popup-inner input[type="submit"].button-change{background:#00a1e5; color:#000; display:table; margin:20px auto 0;}
.popup-inner input[type="submit"].button-change:hover{background:#bfd630;}
.fields-cont a.aprove-btn, .fields-cont a.rejected-btn{border-radius:4px; color:#fff; float:right; padding:10px 20px; margin:10px 0 0 10px; font-weight:bold; }
.upload-image{position:absolute; width:40px; z-index:99; overflow:hidden; height:40px;background: url(../images/sprite-image.png) no-repeat -181px 7px rgba(0,0,0,1); right:68px; border-radius:50%;  bottom:10px;}
.upload-image input[type="file"]{padding:50px;}
.fileName{color:#00a1e5; font-weight:bold; font-size:13px;}
.image-cont-box img{width:100%; height:100%;}
#preview1{width:100%; height:100%;}
.drop-banner{position:relative; }
.drop-banner .fileName{position:absolute; top:10px; left:10px; overflow:hidden; width:65%; height: 48px;}
.magzine-container ul li .magzine img{width:100%; height:100%;}
.advertisement-type .drop-banner .fileName{top:0;}
.show_form .add-article-form .input-box select.languageval{width:100%;}
#cpDiv .ui-widget-content, #cpDiv2 .ui-widget-content{border:0;}
.selectAll{margin: 10px 0 0;    padding: 0 10px;}
.selectAll input[type="checkbox"]{float: left;  margin: 2px 10px 0 0;}


.edit-icon.alignPublish, .delete-bttn.alignPublish{margin: 12px 0 0;}
#showDisableMsg{color: #f00;}
.right-colm .drop-banner .fileName, .left-colm .drop-banner .fileName{height:23px;}
.emp-search-div{ border: 1px solid #d4d2d2; border-top: 0px;display: block;position: absolute;background: #fff;margin-left: 7px; max-height: 200px; overflow: auto; display: none; z-index: 10; width: 210px;margin-top: -13px;}
.searchBox {padding: 5px 10px 5px 10px;cursor: pointer;}
.emp-search-div .searchBox:hover{ background:#256bbb; color: #fff;}
.div_images{overflow: auto;width: 100%;display: block;float: left;text-overflow: ellipsis;white-space: nowrap;}
.emp-search-div{border: 1px solid #d4d2d2;border-top: 0px;display: block;position: absolute;background: #fff;margin-left: 7px;max-height: 200px;overflow: auto;display: none;z-index: 10;width: 210px;margin-top: -13px;}
.searchBox {padding: 5px 10px 5px 10px;cursor: pointer;}
.emp-search-div .searchBox:hover{ background:#256bbb; color: #fff;}
.dataTables_info{display: none;}
input[type="search"] {padding: 4px;margin:0 11px 11px 11px;}
.dataTables_filter{float: right;   }
.cover_pic_align{margin:-6px 0 13px 0; }
.input-box p{margin-bottom: 0; padding-bottom: 10px;}
.input-box.customer{position: relative; top: -20px;}
/*.coverContainer{text-align: center;}*/


/******************Super Admin Push Notification Page**********************/

.row {
    float: left;
    margin: 12px auto;
    width: 100%;
}
.form-group {
  float: left;
  margin: 0 2%;
  width: 46%;
}

.form-group .form-control {
    float: right;
    height: 46px;
    width: 69%;
}
.form-group textarea {
  float: right;
  width: 70% !important;
}

.full-width-form-group {
    margin: 0 2%;
    width: 96%;
}
.full-width-form-group textarea {
  width: 85%;
  float: right;
  border: 1px solid #ccc;
}


.form-group label {
  line-height: 46px;
}
.blue-btn {
  background-color: #029ae2;
  border-radius: 2px;
  color: #fff;
  padding: 8px 14px;
  border:0px;
}

.blue-btn.add-btn {
  background-color: #bfd630;
  float: right;
}
.footer-bottom-push-notify {
  float: right;
  width: 81.6%;
}

.footer-bottom-push-notify-left {
  float: left;
}
.footer-bottom-push-notify-right {
  float: right;
}

input.form-control[type="checkbox"] {
    float: left;
    height: 47px;
    margin-right: 13px;
    text-align: left;
    width: 13px;
}

.category-list {
  float: left;
  margin: 10px auto;
  width: 100%;
}

.category-list th {
    background-color: #bfd630 !important;
    color: #333 !important;
    height: 67px;
    text-align: center !important;
    vertical-align: middle;
    font-weight:bold !important;
}
.category-list td {
    height: 86px;
    text-align: center !important;
}

.category-list table {
  border: 2px solid #bfd630;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.form-control.select-down-arrow {
    background: rgba(0, 0, 0, 0) url("../images/down-arrow.png") no-repeat scroll 98% center;
}


/*** checkbox ***/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  /*position: absolute;*/
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '?';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}
.subheader .fix-container h2 { font-weight: bold; margin-bottom: 10px; text-align: center;}
.subheader .fix-container h2.success{ color: #bfd630 !important;}
.subheader .fix-container h2.error { color: #f00 !important;}
