@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

* {margin:1;outline:0;padding:1;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border:0;font-family: 'Open Sans', sans-serif; font-size:100%;font-style:inherit;font-weight:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {display:block;}
audio,canvas,video {display:inline-block;max-width:100%;}
html {overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:    100%;}
body,button,input,select,textarea {color:#2b2b2b;font-size:16px;font-weight:300;line-height:1.5;}
html{display: table; width: 100%; min-height: 100%; overflow: auto;}
body{display: table; width: 100%; min-height: 100%; overflow: auto;}
a {color:#00a1e5;text-decoration:none;}
a:focus {outline:thin dotted;}
a:hover,a:active {outline:0;}
h1,h2,h3,h4,h5,h6 {clear:both;font-weight:700;margin:25px 0 12px;}
h1 {font-size:26px;line-height:1.3846153846;}
h2 {font-size:24px;line-height:1;}
h3 {font-size:22px;line-height:1.0909090909;}
h4 {font-size:20px;line-height:1.2;}
h5 {font-size:18px;line-height:1.3333333333;}
h6 {font-size:16px;line-height:1.5;}
address {font-style:italic;margin-bottom:24px;}
abbr[title] {border-bottom:1px dotted #2b2b2b;cursor:help;}
b,strong {font-weight:700;}
cite,dfn,em,i {font-style:italic;}
mark,ins {background:#fff9c0;text-decoration:none;}
p {margin-bottom:24px;}
code,kbd,tt,var,samp,pre {font-family:monospace, serif;font-size:15px;-webkit-hyphens:none;-moz-hyphens:   none;-ms-hyphens:    none;hyphens:        none;line-height:1.6;}
pre {border:1px solid rgba(0, 0, 0, 0.1);-webkit-box-sizing:border-box;-moz-box-sizing:   border-box;box-sizing:        border-box;margin-bottom:24px;max-width:100%;overflow:auto;padding:12px;white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
blockquote,q {-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:"";content:none;}
blockquote {color:#767676;font-size:19px;font-style:italic;font-weight:300;line-height:1.2631578947;margin-bottom:24px;}
blockquote cite,blockquote small {color:#2b2b2b;font-size:16px;font-weight:300;line-height:1.5;}
blockquote em,blockquote i,blockquote cite {font-style:normal;}
blockquote strong,blockquote b {font-weight:300;}
small {font-size:smaller;}
big {font-size:125%;}
sup,sub {font-size:75%;height:0;line-height:0;position:relative;vertical-align:baseline;}
sup {bottom:1ex;}
sub {top:.5ex;}
dl {margin-bottom:24px;}
dt {font-weight:bold;}
dd {margin-bottom:24px;}
img {-ms-interpolation-mode:bicubic;border:0;max-width:100%;vertical-align:middle;}
figure {margin:0;}
fieldset {}
legend {white-space:normal;}
ul{list-style: none;}
button,input,select,textarea {-webkit-box-sizing:border-box;-moz-box-sizing:   border-box;box-sizing:        border-box;font-size:100%;margin:0;max-width:100%;vertical-align:baseline;  transition: all 0.4s ease-out 0s; -webkit-all 0.4s ease-out 0s; -moz-all 0.4s ease-out 0s; -ms-all 0.4s ease-out 0s; -o-all 0.4s ease-out 0s;}
button,input {line-height:normal;}
input,textarea {background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled] {cursor:default;}
input[type="checkbox"],input[type="radio"] {padding:0;}
input[type="search"] {-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner {border:0;padding:0;}
textarea {overflow:auto;vertical-align:top;}
table,th,td {/*! border:1px solid rgba(0, 0, 0, 0); */}
table {border-collapse:separate;border-spacing:0;border-width:0px 0 0 0px;margin-bottom:24px;width:100%;}
caption,th,td {font-weight:normal;text-align:left;}
th {border-width:0 1px 1px 0;font-weight:bold;}
td {border-width:0 0px 0px 0;}
del {color:#767676;}
hr {background-color:rgba(0, 0, 0, 0.1);border:0;height:1px;margin-bottom:23px;}

/*
::selection {background:#24890d;color:#fff;text-shadow:none;}
::-moz-selection {background:#24890d;color:#fff;text-shadow:none;}
*/
::-webkit-input-placeholder {color:#999;}
:-moz-placeholder {color:#999;opacity: 1;}
::-moz-placeholder {color:#999;opacity: 1;}
:-ms-input-placeholder {color:#999;}

body { font-weight:300; position:relative; }
.container { max-width:1200px; width:100%; margin:0 auto; padding:0 15px; }
.textCenter { text-align:center; margin:0px auto; }
.clearfix:before, .clearfix:after {display:table;line-height:0;clear:both;content:''}
[class*="span"] {min-height:1px;float:left; position:relative; padding:0 15px;}
.left { float: left;}
.right {float: right;}
.no-padding{padding: 0;}
.span12 {width:100%;}
.span11 {width:91.66666666%;}
.span10 {width:83.33333333%;}
.span9 {width:75%;}
.span8 {width:66.66666666%;}
.span7 {width:58.33333333%;}
.span6 {width:50%;}
.span5 {width:41.66666666%;}
.span4 {width:33.33333333%;}
.span3 {width:25%}
.span2 {width:16.66666666%;}
.span1 {width:8.33333333%;}


input[type="text"]{border-style:solid; border-color:#bfbfc0; color: #999; background: #fff; width: 100%; padding: 10px; height: 50px; font-size: 13px}


h1, h2, h3 {margin: 0;padding: 0;font-weight: inherit;font-size: inherit;line-height: inherit;display: inline;}
.social-icons ul li, .register-bttn, .register-form .input-box input[type="submit"], .read-more-btn, .logout-btn, .ok-btn, .magazine-details, .magazine-details a {transition: all 0.4s ease-out 0s; -webkit-all 0.4s ease-out 0s; -moz-all 0.4s ease-out 0s; -ms-all 0.4s ease-out 0s; -o-all 0.4s ease-out 0s;}




header{background: #fff; padding: 5px 0; border-bottom: 1px solid #ccc;}

.logo-container{margin: 10px 0 0 20px; float: left; width: 180px; height: 50px; overflow: hidden; border-radius: 15px; }
.signin-social{padding: 230px 0 0;}
.signin-social h4 {font-size: 28px; font-weight: bold; color: #fff; text-align: center; margin-bottom: 30px;}
.social-icons{margin: 20px 0;}
.social-icons ul{display: block; list-style: none;}
.social-icons ul li{float: left; width: 45px; height: 45px; border-radius: 50%; overflow: hidden; margin-right: 15px;}
.signin-social .social-icons ul li:hover{border:3px solid #fff;}
.social-icons ul li:last-child{float: right; margin: 0;}
.social-icons ul li a{display: block; text-indent: -999px; height: 100%;}
.social-icons ul li.fb{border: 3px solid #5d72a4; width: 54px; height: 54px; border-radius: 50%; background: url(../images/website_images/sprite-image.png) no-repeat 5px 5px;}
.social-icons ul li.fb:hover{background: url(../images/website_images/sprite-image.png) no-repeat 5px 5px #fff;}
.social-icons ul li.twitter{border: 3px solid #00baff; width: 54px; height: 54px; border-radius: 50%; background: url(../images/website_images/sprite-image.png) no-repeat 1px -41px;}
.social-icons ul li.twitter:hover{ background: url(../images/website_images/sprite-image.png) no-repeat 1px -41px #fff;}
.social-icons ul li.linkedin{border: 3px solid #2f70b0; width: 54px; height: 54px; border-radius: 50%; background: url(../images/website_images/sprite-image.png) no-repeat 1px -102px;}
.social-icons ul li.linkedin:hover{ background: url(../images/website_images/sprite-image.png) no-repeat 1px -102px #fff;}
.social-icons ul li.google{border: 3px solid #ec2327; width: 54px; height: 54px; border-radius: 50%; background: url(../images/website_images/sprite-image.png) no-repeat -6px -171px;}
.social-icons ul li.google:hover{ background: url(../images/website_images/sprite-image.png) no-repeat -6px -171px #fff;}
.main-home-image{padding: 120px 0 0;}
.login-divider {position: relative; padding: 20px 0;}
.login-divider span:after{background: #fff; content: ''; width: 120px; left:0; position: absolute; height: 1px; top: 32px; }
.login-divider span:before{ background: #fff; content: ''; width: 120px;  right:0; position: absolute; height:1px; top: 32px;}
.login-divider span{display: table; width: 24px; height: 24px; font-size: 13px; text-align: center; border: 1px solid #fff; border-radius: 50%;  color: #fff; margin: 0 auto;}
.register-bttn{display: block; color: #fff; height: 50px; line-height: 50px; font-size: 20px; text-align: center; background: #00a1e5; border-radius: 4px; margin: 25px 0; position: absolute; width: 100%;}
.register-bttn:hover{background: #b6d115;}
.login-box{position: relative; margin: 8px 40px 0 0;}
.sign-in{color: #00a1e5; font-size: 16px; font-weight: bold; font-style: italic; background: url(../images/website_images/sprite-image.png) no-repeat 46px -247px; float: right; padding: 0 25px 0 0; cursor: pointer; margin: 15px 0 0;} 
.login-detail-box{position: absolute; width: 280px; background: #fff; border: 1px solid #bfbfc0; top: 50px; z-index: 1; display: none; right: 0;}
.login-detail-box input[type="email"], .login-detail-box input[type="password"]{border-width:0 0 1px ; }
.login-detail-box input[type="password"]{width:170px; border-width:0 1px 0 0; border-style: solid; border-color: #bfbfc0; float: left; }
.login-detail-box input[type="submit"]{float: right; border-width: 0 0 0 1px; border-style: solid; border-color: #bfbfc0; background: url(../images/website_images/sprite-image.png) no-repeat 0 -277px; width: 54px; height: 50px;}
.forgot-password{background: url(../images/website_images/sprite-image.png) no-repeat 2px -327px; width: 54px; height: 50px; float: left; } 
.login-detail-box .arrow-up{position: absolute; width: 0; height: 0;  border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #ccc; top: -10px; right: 20px;}
.login-detail-box .arrow-up:before{content: ''; position: absolute; width: 0; height: 0;  border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #fff; top: 1px; right: -10px;}
.register-form{padding: 150px 0 0; display: none;}
.register-form h4{ font-size: 30px; color: #fff; text-align: center; margin-bottom: 30px; font-weight: 300;}
.register-form .input-box{displa:block;}
.register-form .input-box input[type="text"], .register-form .input-box input[type="password"],.register-form .input-box input[type="email"]{width: 100%; border: 1px solid #fff; border-radius: 4px; background: rgba(0,0,0,0); color: #999; height: 40px; margin-bottom: 10px; padding: 5px 10px; font-size: 14px;}
.register-form .input-box input[type="submit"]{}
.btn-box{position: relative; min-height: 100px;}
.btn-box input[type="submit"]{display: block; color: #fff; height: 50px; line-height: 50px; font-size: 20px; text-align: center; background: #00a1e5; border-radius: 4px; margin: 25px 0; width: 100%; border: 0; position: absolute;}
.register-form .input-box input[type="submit"]:hover{background: #b6d115;}
.register-form.condition{padding: 10px 0 0;}
.input-box small{font-size: 12px; font-style: italic; color: #fff; text-align: center; display: block;}
.input-box small span{color: #bfd630;}
.my-account{width: 50px; height: 50px; border-radius: 50%; float: right; margin-right: 0; overflow: hidden; border:3px solid #ccc; cursor: pointer;}
.my-account1{width: 50px; height: 50px; border-radius: 50%; float: right; margin-right: 0; overflow: hidden; border:3px solid #ccc; cursor: pointer;}
.my-account img{width: 100%; height: 100%;}
.my-account1 img{width: 100%; height: 100%;}
.search-box{float: right; position: relative; border-radius: 30px; border: 1px solid #ccc; width: 250px; margin: 10px 20px 0 0; padding: 5px 5px 5px 15px;}
.search-box input[type="text"]{background:none; border:0; font-size: 14px; width: 86%; padding: 0; height: 24px;}
.search-box input[type="button"]{background:url(../images/website_images/sprite-image.png) no-repeat -11px -382px; width: 30px; border: 0; float: right; height: 22px; } 
.open-article{background: #f0f0f0; margin-top: 1px;}
.open-article figure{position: relative; overflow: hidden; float: left; width: 50%; margin-right: 15px;}
.open-article figure figcaption{position: absolute; top: 0; background: rgba(0,0,0,0.7); color: #fff; padding: 10px; width: 100%;}
.open-article section{display: table}
.open-article section h4{font-size: 24px; color: #000; font-weight: normal; margin: 10px 0;}
.open-article section p{font-size: 13px; color: #000; line-height: 24px; margin: 0 0 15px;}
.article-date{display: inline-block; background: url(../images/website_images/sprite-image.png) no-repeat -17px -420px; color: #000; font-size: 13px; padding-left: 26px; margin-right: 30px;}
.article-website{background: url(../images/website_images/sprite-image.png) no-repeat -17px -449px; padding-left: 25px; font-size: 13px;}
.article-details{margin-bottom: 10px;}
.magzine-container{margin: 100px 0 0; text-align: center;}
.magzine-container h4{font-size: 18px; color: #111; font-weight: bold; border-bottom: 1px solid #ccc; text-align: left; padding-bottom: 5px; margin-bottom: 20px;}
.magzine-container ul{display: block; list-style: none; padding: 0 30px;}
.magzine-container ul li{float:left; overflow: hidden; height: 200px; width:140px; padding: 5px; background: #eaeaea; margin: 10px; }
.read-more-btn{color: #fff; background: #009fe3; padding: 8px 15px; font-size: 14px; display: table;}
.read-more-btn:hover{background: #bad321;}
footer{padding: 20px 0; background: #f2f2f2; margin-top: 50px;}
.copyright{background: #5e5e5e; padding: 15px; }
.copyright p{font-size: 13px; color: #fff; font-weight: 300; margin: 10px 0 0;}
.copyright ul{display: block; margin: 10px 0 0;}
.copyright ul li{float: left; padding: 0 10px; border-right:1px solid #fff; line-height: 13px;}
.copyright ul li:last-child{border:0;}
.copyright a{font-size: 13px; color: #fff; font-weight: 300; }
.copyright a:hover{text-decoration: underline;}
.social-bottom{margin: 20px 0 0;}
.social-bottom h5{font-size: 18px; color: #000; border-bottom: 1px solid #bdbdbd; padding-bottom: 5px; margin-bottom: 25px;}
.social-bottom ul{display: block;}
.social-bottom ul li{float: left; margin: 0 0 0 10px;}
.about-bottom{margin: 25px 0 0;}
.about-bottom p{font-size: 13px; }
.about-bottom figure{width: 220px; margin-bottom: 15px; }
.account-detail-box{display: none; position: absolute; border: 1px solid #ccc; box-shadow: 0 0 4px #999; border-radius: 4px; background: #fff; z-index: 2; width: 300px; top: 58px; right: 10px; min-height: 450px;}
.account-detail-box h4{background: #e7e7e7; color: #3a3a3a; text-align: left; padding: 10px; font-size: 18px; margin: 0 0 8px;  font-weight: 300; border-radius: 4px 4px 0 0;} 
.drop-down-options{ padding-right: 15px; text-align: center;}
.drop-down-options ul{}
.drop-down-options ul li{border-bottom: 1px solid #eaeaea; font-size: 12px; color: #111; padding: 7px 25px; text-align: left;}
.drop-down-options .setting-box{position: relative; border-bottom: 1px solid #eaeaea;}
.drop-down-options .setting-box strong{font-size: 16px; padding: 5px 25px; color: #444; font-weight: 600;  display: table; }
.drop-down-options .setting-box a{float: right; text-decoration: underline; font-size: 13px; margin: 15px 15px 0 0; }
.drop-down-options ol{list-style: none; margin-left: 7px;}
.drop-down-options ol li{float: left; width: 63px; border: 2px solid #ccc; margin: 10px 3px; height: 70px; text-align: center; overflow: hidden;}
.drop-down-options ol li.add-magazine{color: #888; font-weight: 600; position: relative; background: url(../images/website_images/sprite-image.png) no-repeat 2px -492px #cacaca; cursor: pointer; }
.drop-down-options ol li.add-magazine span{color: #888; position: absolute; bottom: 5px; font-size: 11px; width: 100%; text-align: center; display: table;} 
.drop-down-options ol li.add-magazine a{display: block; height: 100%;}
.account-detail-box .arrow-up{position: absolute; width: 0; height: 0;  border-left: 15px solid transparent; border-right: 15px solid transparent; border-bottom: 10px solid #ccc; top: -10px; right: 20px;}
.account-detail-box .arrow-up:before{content: ''; position: absolute; width: 0; height: 0;  border-left: 15px solid transparent; border-right: 15px solid transparent; border-bottom: 10px solid #e7e7e7; top: 1px; right: -15px;}
.logout-btn{background: #009fe3; border-radius: 6px; display: block; padding: 10px; color: #fff; text-align: center; margin: 10px 40px;}
.logout-btn:hover{background: #bad321;}
.setting{float: right; margin:0 ; cursor: pointer;}
.drop-down-options ul li em{float: right; background: url(../images/website_images/sprite-image.png) no-repeat -10px -563px; width: 30px; height: 30px;}
.account-wall{min-height: 150px; position: relative;}
.account-wall-image{position: absolute; }
.account-detail-box h4.no-margin{margin: 0;}
.account-picture{height: 205px; overflow: hidden; position: relative; background: #ccc;}
.account-picture img{ filter: blur(2px); -webkit-filter: blur(2px); -moz-filter: blur(2px); -o-filter: blur(2px); -ms-filter: blur(2px); }
.profile-picture{position: absolute; top: 50px; width: 100px; height: 100px; border-radius: 50%; border: 5px solid rgba(0,0,0,0.6); overflow: hidden; left: 50%; margin-left: -50px;}
.profile-picture img{width: 100%; height: 100%; filter: blur(0); -webkit-filter: blur(0); -moz-filter: blur(0); -ms-filter: blur(0); -o-filter: blur(0);}
.drop-down-options ul li span{display: block; cursor: pointer;}
.ok-btn{border-radius: 4px; background: #bfd630; color: #fff; border: 0; padding: 8px 35px; margin: 30px auto; display: table;}
.ok-btn:hover{background: #009fe3;}
.drop-down-options .input-container input[type="text"], .drop-down-options .input-container input[type="password"], .drop-down-options .input-container input[type="email"]{border-width: 0 0 1px 0; border-color: #eee;}


/*Popup*/
.layer-bg{position: fixed; width: 100%; height: 100%; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0,0,0,0.7); display: none; z-index: 99;}
.popup-container{max-width: 450px; width: 100%; margin: 0 auto; position: relative; z-index: 99; background: #fff; padding: 0 0 30px 0; border-radius: 6px; top: 50%; margin-top: -135px;}
.popup-container h4{font-size: 22px; color: #6f7b8a; padding: 15px; background: #e5e5e5; font-weight: normal; text-align: center; margin:0 0 25px 0; border-radius: 4px 4px 0 0; }
.close-bttn{background: url(../images/website_images/sprite-image.png) no-repeat -14px -620px; width: 38px; height: 38px; position: absolute; top: 8px; right: 8px; cursor: pointer;}
.popup-inner{margin: 10px 0 0; text-align: center;}
.popup-inner input[type="text"], .popup-inner input[type="password"], .popup-inner input[type="email"]{width: 250px; border: 1px solid #dbdbdb; font-size: 13px; color: #737373; height: 40px; border-radius: 4px; display: inline-block; margin:0; padding: 0 5px;}
.popup-inner input[type="submit"]{padding: 10px 30px; color: #fff; background: #bfd630; border-radius: 4px; border: 0; margin: 15px 0 0;}
.popup-inner input[type="submit"]:hover{ background:#00a1e5;}
.upper_bar{text-align: right;}
.layer-bg-popupOverlay{background: none; position: fixed; width: 100%; height: 100%; top: 0; right: 0; left: 0; bottom: 0;}
/*Popup*/

.camera-icon{background: url(../images/website_images/sprite-image.png) no-repeat #000 -17px -672px; position: absolute; width: 30px; height: 30px; border:2px solid #fff; border-radius: 50%; top: 50px; left: 56%; overflow: hidden;}
.camera-icon input[type="button"]{padding: 50px; background: none; border: 0;}
.more-btn{display: block; color: #000; background: url(../images/website_images/sprite-image.png) no-repeat 184px -713px; font-weight: bold; }
.more-options{display: none;}
.heading-container{background: #f2f2f2; margin: 30px 0;}
.heading-container h4{ font-size: 18px; color: #aaa; font-weight: bold; text-transform: uppercase; margin: 10px 30px; float: left;}
.heading-container span{float: right; background: #00a1e5; color: #fff; font-size: 12px; text-transform: uppercase; padding: 12px 15px; cursor: pointer;}
.magazines-list{margin: 10px 0; text-align: center;}
.magazines-list ul{display: block; list-style: none;}
.magazines-list ul li{display: inline-block; min-height: 200px; width: 160px; margin: 20px 15px; position: relative;}
.magazines-list ul li figure{border: 5px solid #eee; height:200px; overflow: hidden; position: relative;}
.magazines-list ul li h5{font-size: 12px; color: #393939; margin: 10px 0 0; font-weight: normal;}
.magazines-list ul li span{font-size: 11px; color: #393939; font-weight: normal;}
.magazine-details{opacity:0;}
.magazines-list ul li:hover .magazine-details{position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.6); opacity: 1; top: 0; bottom: 0; }
.magazines-list ul li:hover .magazine-details a{background:#bfd630; border-radius: 12px; color: #000; padding: 5px 15px; margin-top: 80px; display: inline-block; font-size: 13px;}
.magazines-list ul li:hover .magazine-details a:hover{background: #00a1e5;}
.detail-article{margin: 0 0 50px; }
.detail-article figure{max-height: 450px; overflow: hidden; position: relative; margin-bottom: 5px;}
.detail-article figure figcaption{background: rgba(191,214,48,0.6); padding: 30px; color: #fff; font-size:28px; font-weight: bold; position: absolute; top: 0; width: 100%;}
.detail-article section{border: 1px solid #aaa; padding: 10px;}
.detail-article section h4{font-size: 24px; color: #111; font-weight: normal; margin: 20px 0;}
.detail-article section p{font-size: 14px; color: #222; line-height: 30px; margin: 0;} 
.detail-article section img{margin-right: 20px;}
.tags{margin: 30px 0;}
.tags strong{float: left; margin-right: 10px; font-size: 14px; color: #999;}
.tags ol{display: block; list-style: none;}
.tags ol li{float: left; background: #f8f8f8; border: 1px solid #e5e5e5; padding:2px 7px; font-size: 12px; color: #999; margin-right: 8px;}
.related-articles{margin: 30px 0;}
.related-articles h4{font-size: 18px; text-transform: uppercase; border-bottom: 1px solid #b2b2b2; padding-bottom: 5px; margin-bottom: 20px; font-weight: 600; }
.related-articles .related-box{ background: #f2f2f2; padding-bottom: 10px; margin-bottom: 30px; position: relative;}
.related-articles .related-box h5{font-size: 18px; color: #000; margin:20px 10px 0; font-weight: normal;}
.related-articles .related-box figure{position: relative;}
.related-articles .related-box p{font-size: 12px; color: #000; margin: 10px; font-weight: normal; line-height: 22px;}
.margin-left{margin-left: 10px;}
.article-topic{position: absolute; color: #fff; background: #00a1e5; font-size: 11px; text-transform: uppercase; padding: 2px 5px; bottom: -10px;}
.article-topic2{position: absolute; color: #fff; background: #00a1e5; font-size: 11px; text-transform: uppercase; padding: 2px 5px; bottom: 20px;}
.comment-section{}
.comment-section h5{font-size: 18px; text-transform: uppercase; color: #444; position: relative;}
.comment-section h5:after{position: absolute; content: ''; width: 80%; height: 1px; background: #b2b2b2; right: 0; top: 12px;}
.comment-section .social-share{margin: 20px 0 50px;}
.comment-section .social-share ul{display: block;}
.comment-section .social-share li{float: left; margin-right: 10px;}
.comment-section .comment-box{border: 1px solid #eee; padding: 20px; width: 80%;}
.comment-section .comment-box label{font-size: 14px; color: #777; display: block; margin-bottom: 10px; }
.comment-section .comment-box textarea{background: #f8f8f8; border: 1px solid #eee; width: 100%; padding: 5px;}
.comment-section .comment-box input[type="submit"]{color: #fff; font-size: 14px; background: #4a525d; padding: 7px 12px; border: 0; margin: 30px 0 0;}
.comment-section .comment-box input[type="submit"]:hover{background: #c0d82c;}
.comment-section .people-comment{border-top: 1px solid #b2b2b2; padding: 20px 0; margin: 0 0 30px; float: right; width: 80%;}
.comment-section .people-comment figure{width: 80px; height: 80px; border-radius: 50%; position: absolute; background: #f2f2f2; left: -50px; top: -10px;}
.comment-section .people-comment .person-detail{position: relative; padding-left: 45px; min-height: 80px;}
.comment-section .people-comment .person-detail strong{display: block; margin: 10px 0 0; color: #1f4773; font-size: 14px; font-weight: bold; }
.comment-section .people-comment .person-detail small{font-size: 13px; font-style: italic;}
.comment-section .people-comment p{font-size: 13px; color: #777; margin:0; line-height: 22px;}
.news-container{margin: 0 0 30px;}
.news-container h4{font-size: 18px; color: #000; font-weight: normal; margin:0 0 5px;}
/*.news-container p{font-size: 13px; color: #000; font-weight: 300; margin: 0; line-height: 23px;}*/
.news-container p{font-size: 13px; color: #000; font-weight: 300; margin: 0;}
.news-container figure, .news-container section{height: 190px; overflow: hidden;}
.news-container figure img{}

[class*="grid"]{position: relative; overflow: hidden;}
.news-container .grid1{height: 380px;}
.news-container .grid2{background: #f4f4f4; min-height: 190px;}
.news-container .grid2 figure{float: left; width: 50%;}
.news-container .grid2 section{float: right; width: 50%; padding: 10px;}
.news-container .grid3{background: #f4f4f4; height: 190px; }
.news-container .grid3 section{padding: 10px; }
.news-container .grid4{background: #f4f4f4; height: 380px;}
.news-container .grid4 section{padding: 10px;}
.news-container .grid5{background: #f4f4f4; height: 190px; position: relative;}
.news-container .grid5 figure{position: relative; overflow: hidden;}
.news-container .grid5 figure figcaption{position: absolute; bottom: 0; background: rgba(0,0,0,0.7); padding: 10px; color: #fff; font-size: 13px;}
.news-container .video-overlay{position: absolute; z-index: 1; background: rgba(0,0,0,0.6); width: 100%; height: 100%; top: 0; left: 0; text-align: center; padding-top: 25px;}
.news-container .grid5 .article-details .article-date{color: #fff; background-position: -24px -829px;}
.news-container .video-overlay h4{color: #fff; text-align: center; margin: 10px 0;}
.news-container .grid5 section{padding: 10px; height: 190px;}
.news-container .grid6{background: #f4f4f4; height: 570px; }
.news-container .grid6 section{padding: 10px; }
.news-container .grid6 figure{height:380px;}
.news-container .grid7{height: 570px; background: #f4f4f4;}
.news-container .grid7 section{min-height: 380px; padding: 10px;}
.news-container .grid8 {height: 190px;}
.news-container .grid8 .image-overlay{position: absolute; background:rgba(0,0,0,0.8); top: 0; left: 0; width: 100%; height: 100%; padding: 10px;}
.news-container .grid8 .image-overlay h4{font-size: 18px; color: #fff; text-align: right;}
.news-container .grid8 .image-overlay p{font-size: 15px; color: #fff; margin: 40px 0 0;}
.news-container .grid9 {height: 570px;}
.news-container .grid9 figure{height: 570px;}
.news-container .grid9 figure figcaption{background: rgba(191,214,48,0.6); position: absolute; width: 100%; padding: 10px; bottom: 0; text-align: right;}

.news-container .span6, .news-container .span3, .news-container .span12{padding: 0;}
.news-container .article-details .article-date {display: inline-block; font-size: 11px; margin-right: 3px; padding-left: 22px; background-position:-17px -421px ;}
.news-container .article-details .article-website {font-size: 11px; display: inline-block; padding-left: 20px; background-position:-17px -449px ;}
.pagination{margin: 30px 0;}
.pagination ul{display: block; float: right; background: #f4f5f7; border: 1px solid #c6c6c6; border-radius: 4px;}
.pagination ul li{font-size: 12px; color: #656565; border-right: 1px solid #c6c6c6;  text-align: center; float: left;}
.pagination ul li:last-child{border: 0;}
.pagination ul li a{color: #656565; display: block; padding: 5px 15px;}
.pagination ul li a:hover{ background:#ebebeb;}
.checkbox-container{float: right; position:relative; width: 30px; height: 30px;}
.checkbox-container input[type="checkbox"]{opacity: 0; position: relative; z-index: 1; width: 20px; height: 20px;}
.checkbox-container label{ width: 20px; height: 20px;}
input[type=checkbox] + label{background: url(../images/website_images/sprite-image.png) no-repeat -25px -757px; position: absolute; top: 0; left: 0; display: block;}
input[type=checkbox]:checked + label {background: url(../images/website_images/sprite-image.png) no-repeat -24px -782px;}
.news-container2 .grid1{}



/*21-dec-2014*/
.social-login-cont{width: 261px; margin: auto;}
/*contact us*/
.form_cont{margin:10px 0; background:#fff; padding:10px 20px; }
.form_cont h3{font-size:20px; color:#333; font-weight:300; margin:10px 0; padding-bottom:10px; border-bottom:1px solid #ccc; display: block;}
.form_cont ul{display:block; list-style:none;}
.form_cont ul li{ float:left; width:48%; position: relative;}
.form_cont ul li:nth-child(odd){float:left;}
.form_cont ul li:nth-child(even){float:right;}
.form_cont label{font-size:14px; font-weight:bold; color:#666; width:100%; margin:5px 0; display:block;}
.long{width:100% !important;}
.form_cont ul li input[type="text"], .form_cont ul li input[type="email"]{width:98%; border:1px solid #ccc; border-radius:4px; height:40px; padding:0 5px; margin-bottom:10px;}

.form_cont ul li input[type="submit"]{padding:12px 30px; float:left; border:0; background:#4a525d; cursor:pointer; font-size:13px; color:#fff; transition:all 0.5s ease-out 0s; margin:10px 0; border-radius: 4px;}


.form_cont ul li input[type="submit"]:hover{background:#c0d82c;}

.form_cont ul li textarea{width:99%; border-radius:4px; border:1px solid #ccc;}
.bottom_info{margin:20px 0; background: #fafafa; padding: 20px;}
.ti_address{float:left; width:25%;}
.ti_address ul{display:block; list-style:none;}
.ti_address ul li{padding:5px; margin:5px 0;}
.ti_address h3{font-size:16px; color:#666; margin:0;}
.ti_address a{margin:0; display:block;}
.ti_address span{float:left; width:25px; height:25px; padding:5px; margin:5px 10px 0 0;}
.location{background:url(../images/website_images/sprite-image.png) no-repeat -63px -78px #00a1e5;}
.phone{background:url(../images/website_images/sprite-image.png) no-repeat -63px -54px #00a1e5; }
.email{background:url(../images/website_images/sprite-image.png) no-repeat -64px 1px #00a1e5; }
.website{background:url(../images/website_images/sprite-image.png) no-repeat -64px -26px #00a1e5; }
.ti_address h4{font-size:12px; color:#666; font-weight:400; margin:0; line-height:15px; padding:4px 0 0;}
.ti_address a{font-size:12px; color:#00a1e5; text-decoration:none; padding:5px 0;}
.ti_address a:hover{text-decoration:none; color:#333;}
.map-cont{float:right; width:72.5%; overflow:hidden;}
/*Contact Us*/

/*24-dec-2014*/

.border-left{border-left: 2px solid #fff;}
.border-right{border-right: 2px solid #fff;}
.border-bottom{border-bottom: 2px solid #fff;}
.border-top{border-top: 2px solid #fff;}
.news-container .article-details .article-date-white{color: #fff; background-position: -24px -829px;}
.scroll-box{overflow-y: auto; height: 205px;}
.about-container{margin: 30px 0;}
.about-container figure{margin: 30px auto; max-width: 300px;}
.about-container p{font-size: 13px; color: #000; line-height: 30px;}    

/*22-jan-2015*/
#searchRes div{position: absolute; max-height:400px; overflow-y:auto; padding: 10px; font-size: 13px; background:#fff; z-index: 1; width: 85%; }

#searchRes span {margin:0 10px 10px;border-bottom: 1px solid #eee;display: block;padding-bottom: 5px;}

#searchRes span:last-child{border: 0;}

#validRes {
    text-align: center;
display: block;
position: relative;
right: 318px;
top: 35px;
color: green;
}

/*Errors*/


/*24-dec-2014*/

.border-left{border-left: 5px solid #fff;}
.border-right{border-right: 5px solid #fff;}
.border-bottom{border-bottom: 5px solid #fff;}
.border-top{border-top: 5px solid #fff;}
.news-container .article-details .article-date-white{color: #fff; background-position: -24px -829px;}
.scroll-box{overflow-y: auto; height: 150px;}
.about-container{margin: 30px 0;}
.about-container figure{margin: 30px auto; max-width: 300px;}
.about-container p{font-size: 13px; color: #000; line-height: 30px;}    


.input-box{position: relative;}
.input-box label.error{position: absolute; top: 18px; right: 10px; width: 16px; height: 16px; overflow: hidden; text-indent: -999px;}

.input-box label[for="passwordLogin"]{right: 115px;}

#___plus_0{width: 210px !important; margin: 3px 0 0!important;}
.IN-widget{margin: 3px 0 0;}

.pagination_bottom{float: right; margin: 0; background: #f4f5f7; border: 1px solid #c6c6c6; border-radius: 4px; }


.pagination_bottom a, .pagination_bottom strong {color: #656565; display: block; padding: 5px 15px; font-size: 12px; color: #656565; border-right: 1px solid #c6c6c6;  text-align: center; float: left;}
.pagination_bottom a:hover{ background:#ebebeb;}
.pagination_bottom a:last-child{border: 0;}

/*Errors*/


label.error {
    background: url('../images/website_images/unchecked.png') no-repeat;
    padding-left: 16px;
    padding-top: 2px;
    font-size: 10px;
    color: rgb(11, 13, 14);
    font-weight: bold;
}
label.valid {
    background: url('../images/website_images/checked.png') no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    position: relative;
    
}

#errorValue {
    text-align: center;
display: block;
color: red;
    font-size: 13px;
}

#validResContact {
    text-align: center;
display: block;
position: relative;

color: green;
}

/**/

.comment-section .people-comment figure img{width:100%; height:100%;}
.msgError{position: absolute; color: #f00; font-size: 12px; top: 18px; right: 118px; margin: 0;}
.login-detail-box input[type="email"].forgotEmail{width:220px;}
.form_cont ul li label.error{position: absolute;width: 20px;height: 20px;right: 15px;text-indent: -9999px;top: 40px;}
.drop-down-options ul li span{margin:8px 0;}
.drop-down-options ul li.heightIncrease{padding: 12px 25px;}
.nameBox{position: absolute; width: 100%; bottom: 5px;}
.nameBox h5{font-size: 16px; color: #000; text-align: center; margin: 10px 0 0;}
.nameBox small{font-size: 13px; color: #000; margin: 0; text-align: center; display: block;}

.fixWidth{width:100%;}
.submitBttn{border: 0; background:#bad321; padding:6px 8px; font-size: 11px ;color:#fff; border-radius: 4px; margin-left: 10px; float:right;}
.cancelBttn{border: 0; background:#bad321; padding:6px 8px; font-size: 11px ;color:#fff; border-radius: 4px; margin-left: 10px; float: right;}


.comment-box label.error{background-position: 0px 3px;margin: 10px 0 0;padding-left: 20px;font-size: 12px;}
.fb_iframe_widget{display: inline-block;float: left;position: relative;margin: 0 10px 0 0;}
.video-overlay img{width: auto;}
.news-container .grid8 video{width:100%;}
.detail-article figure img, .related-articles .related-box figure img, .open-article figure img, .news-container .grid1 figure img{width: 100%;}
.logo_text {float: left;margin: 10px 0 0 10px;color: #000;font-size: 24px;}
.news-container .grid1 figure{height:380px;}

.videoThumbnal{position: absolute;top: 0;width: 100%;height: 100%;}
.articleTitle{background:rgba(191,214,48,0.6) ; position: absolute; bottom: 0; z-index: 1; width: 100%; color: #fff; padding: 5px 10px;}
.PauseThumbnal{position: absolute;top: 40;max-width: 91px;max-height: 91px;}


/*17-03-2015*/
.logo-container img{width:100%; height:100%;}
.drop-down-options ol li img{height:100%; width:100%;}
.logo-container img.autoHeight{height:auto;}

/*18-03-2015*/
.news-container img{width:100%; height: 100%;}
.news-container figure img.autoWidth{width:auto; height:auto;}
.image-overlay {    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);    height: 100%;    left: 0;    padding: 10px;    position: absolute;    top: 0;    width: 100%;}
.news-container .image-overlay p{color: #fff;}
.news-container .image-overlay h4{color: #fff;}
.openArticleTitle{   color: #444;display: table; font-size: 15px;font-weight: normal; padding: 0 25px;}
#replaceAddvertise{width:100%; height: 100%;}
/*Media Queries*/

@media screen and (max-width: 1200px) {
    .signin-social{padding: 180px 0 0;}
    .login-detail-box{right: 0;}
    .register-form{padding: 110px 0 0;}
    img{width: 100%;}
    .login-box{margin: 0;}
    .copyright{padding: 15px 0;}
/*    .video-overlay img{width: auto;} */

}

@media screen and (max-width: 1100px) {
    .news-container{max-width: 768px; width: 100%; margin: 0 auto;}
    .news-container .span6{width: 100%;}
    .news-container .span3{width: 50%;}
    .news-container figure, .news-container section{height: 250px;}
    .news-container2 figure, .news-container section{height:250px;}
}

@media screen and (max-width: 1000px) {
   .open-article figure{float: none; width: 100%;}
    .open-article section{padding: 10px;}
    
}


@media screen and (max-width: 780px) {
    .signin-social{padding: 110px 0 0;}
    .login-detail-box{right: 0;}
    .register-form{padding: 50px 0 0;}
    .open-article .span6{width: 100%;}
    .main-home-image, .signin-social{padding: 250px 0 0;} 

}

@media screen and (max-width: 767px) {
    [class*="span"]{padding: 0 10px; width: 100%;}
    .main-home-image{display: none;}
    .span5{width: 100%;}
    .login-detail-box{right: 0;}
    .span7{width: 100%;}
    .main-home-image{display: none;}
    .signin-social{padding: 40px 0 0;}
    .register-form{padding: 0;}
    .container{padding: 0;}
    .logo-container{margin:10px auto;}
    header{text-align: center;}
    .open-article section{padding-bottom: 20px;}
    .login-box{margin: 0 ;}
    .search-box{width: 160px;}
    .search-box input[type="text"]{width: 77%;}
    .account-detail-box{right: 0;}
    header .span6{width: 50%;}
    .comment-section .comment-box{width: 100%;}
    .comment-section h5:after{width: 70%;}
    .copyright{text-align: center; padding: 10px 0;}
    .copyright ul li{float: none; display: inline-block;}
    .detail-article section img{width: 100%;}
    .copyright .right{float: none;}
    .popup-container h4{font-size: 18px; text-align: left;}
    .news-container .grid2 figure, .news-container .grid2 section{float: none; width: 100%; height: auto;} 
    .news-container .grid1, .news-container .grid2, .news-container .grid3, .news-container .grid4, .news-container .grid5, .news-container      .grid6, .news-container .grid7, .news-container .grid8, .news-container .grid9 {min-height:initial; border-top: 2px solid #fff;}
}


@media screen and (max-width: 500px) {
    .register-form h4{margin: 15px 0 5px;}
    .article-date, .article-website{font-size: 11px; margin: 0; }
    .comment-section h5:after{width: 48%;}
    .news-container figure, .news-container section{height: auto; }
    .news-container2 figure, .news-container section, .news-container .grid9 figure{height:auto;}
    .news-container .span3{width: 100%;}
    .border-right, .border-top, .border-left, .border-bottom{border: 0;}
     header .span6{width: 100%;}

}

/* Play Sign Overlay for video */
.videos img {
  width:100%;
  height:auto;
}
a.video {
  float: left;
  position: relative;
}
a.video span {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../images/website_images/pause-icon.png") no-repeat;
  background-position: 50% 30%;
  background-size: 40%;
  text-align: center;
}
@media screen and (max-width: 160px) {
  a.video span {
    background-size: 100%;
  }
}

/*.news-container .video-overlay{position: absolute; z-index: 1; background: rgba(0,0,0,0.6); width: 100%; height: 100%; top: 0; left: 0; text-align: center; padding-top: 25px;} */
